<nav class="navbar">
    <div class="brand">Claim Management System</div>

    <div class="links">

        <a routerLink="/profile/plan">Plans</a>

        <a routerLink="/claims" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      My Claims
    </a>

        <a routerLink="/claims/new" routerLinkActive="active">
      Submit Claim
    </a>
        <a routerLink="/profile" routerLinkActive="active">
      Profile
    </a>
    </div>

    <div class=" user ">
        <span class="email ">{{ userEmail }}</span>
        <button (click)="logout() ">Logout</button>
    </div>
</nav>