<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="submit()">

    <label>
    Email
    <input type="email" formControlName="email" />
  </label>

    <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</small>
    </div>

    <br />

    <label>
    Password
    <input type="password" formControlName="password" />
  </label>

    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
        <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
      Minimum 6 characters
    </small>
    </div>

    <br />

    <button type="submit" [disabled]="loginForm.invalid || loading">
    {{ loading ? 'Logging in...' : 'Login' }}
  </button>

</form>
