<div class="space-y-2">

    <div class="relative">
        <input [type]="type" [formControl]="control" class="w-full px-4 py-2 bg-white/5 rounded-lg
             border border-white/10 outline-none" />

        <button type="button" class="absolute right-3 top-2 text-xs opacity-70" (click)="toggleVisibility()">
      {{ showPassword ? 'Hide' : 'Show' }}
    </button>
    </div>

    <div class="h-1 bg-white/10 rounded">
        <div class="h-full transition-all duration-300 rounded" [class.bg-red-500]="strength === 'weak'" [class.bg-yellow-400]="strength === 'medium'" [class.bg-green-400]="strength === 'strong'" [style.width]="strength === 'weak'
        ? '33%' : strength === 'medium'
        ? '66%' : '100%'">
        </div>
    </div>

</div>
