<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="submit()">

    <label>
    Full Name
    <input type="text" formControlName="fullName" />
  </label>
    <div *ngIf="registerForm.get('fullName')?.touched && registerForm.get('fullName')?.invalid">
        <small>Full name is required</small>
    </div>

    <br />

    <label>
    Email
    <input type="email" formControlName="email" />
  </label>
    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        <small *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email</small>
    </div>

    <br />

    <label>
    Password
    <input type="password" formControlName="password" />
  </label>
    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        <small>Password must be at least 6 characters</small>
    </div>

    <br />

    <label>
    Date of Birth
    <input type="date" formControlName="dateOfBirth" />
  </label>
    <div *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.invalid">
        <small>Date of birth is required</small>
    </div>

    <br />

    <button type="submit" [disabled]="registerForm.invalid || loading">
    {{ loading ? 'Creating account...' : 'Register' }}
  </button>

</form>

<p>
    Already have an account?
    <a routerLink="/login">Login</a>
</p>
